@charset "UTF-8";



:root{
    --cor0: #F2F7F9;
    --cor1: #016EA7;
    --cor2: #273469;
    --cor4: #1E2749;
    --cor5: #30343F;

    --fonte-padrao: Arial, Helvetica, sans-serif;

}

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--cor1);

}

.aluguel{
    background-image: url('imagens/background.jpg');
    background-size: cover;
    height: 300px;
}

.cabecalho{
    background-color: var(--cor1);
    margin: auto;
    display: flex;
    text-align: center;
    padding: 10px;
    max-width: 800px;
}

header > div > img{
    width: 150px;
    border-radius: 5px;
}


header > p{
    margin-top: 30px;
    color: #fff;
    font-size: 2em;
}


nav{
    width: 800px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav > ul > li > a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;

}

nav > ul > li > a:hover{
    border-radius: 5px;
    background-color: var(--cor2);
}


body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);

}

main{
    max-width: 800px;
    margin: 0 auto;

}

h2{
    color: var(--cor4);
    padding: 20px 10px;
    font-size: 2em;
}

.carros{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.carros > div{
    flex: 1 1 200px;
    background-color: #fff;
    border:  1px solid #8d8d8d77;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 450px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.205);
    text-align: center;
}

.carros > div > h3{
    color: var(--cor4);
    margin-top: 20px;
}

.carros > div >img{
    width: 200px;
    margin-bottom: 30px;
}

.carros > div >p{
    margin-bottom: 20px;
}
.carros > div > button{
    color: #fff;
    background-color: var(--cor2);
    padding: 15px;
    border-radius: 5px;
    border: 0;
    margin margin-top: 30px;
}

